@import "./variables";

@mixin flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

@mixin partician {
  border-bottom: 2px solid #2A313C;
  padding-bottom: 20px;
}

// Custom responsive mixin
@mixin responsive($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin vendor($property, $content) {
	-webkit-#{$property}: $content;
	-moz-#{$property}: $content;
	-ms-#{$property}: $content;
	-o-#{$property}: $content;
	#{$property}: $content;
}

@mixin transition($property, $time) {
	transition: #{$property} $time;
}

@mixin transformation($property, $value) {
	transform: #{$property}($value);
}