$primary-color: #63AD6E;
$secondary-color: #EFEFEF;
$active-star: #EDE861;
$black: #000;
$secondary-black: #212934;
$white: #FFF;

// Breakpoints
$mac: 1600px;
$pc: 1400px;
$ipad: 995px;
$small-pc: 1280px;
$notebook: 1024px;
$ipad: 995px;
$phone: 767px;
$iphone: 550px;
$small-iphone: 320px;
$custom-size: 700px;