@import url("https://fonts.googleapis.com/css2?family=Damion&family=Open+Sans:wght@400;600;700&display=swap");
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*for all*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

/* Common styling */
.grey {
  color: #666; }

.cap {
  text-transform: capitalize; }

.up {
  text-transform: uppercase; }

.center {
  text-align: center; }

.bold {
  font-weight: bold; }

.transition {
  -webkit-transition: 1s all ease;
  transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 94%;
  margin: 0 auto; }

header .wrapper {
  width: 88%;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header .wrapper h1 {
    width: 20%; }
  header .wrapper img {
    width: 105%; }
  header .wrapper nav {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .wrapper nav .navbar {
      width: 90%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header .wrapper nav .navbar > li:nth-child(1) {
        margin-right: 15%; }
      header .wrapper nav .navbar > li:nth-child(2) {
        margin-right: 15%; }
      header .wrapper nav .navbar > li:nth-child(3) {
        margin-right: 9%; }
      header .wrapper nav .navbar > li > a {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 10px 0;
        position: relative;
        color: #000;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: .8px;
        -webkit-transition: .5s ease;
        transition: .5s ease; }
        header .wrapper nav .navbar > li > a:hover {
          color: #ba5c80; }
      header .wrapper nav .navbar > li:nth-child(1) > a::after,
      header .wrapper nav .navbar > li:nth-child(2) > a::after {
        content: '\f078';
        margin-left: 15px;
        padding: 10px 0;
        position: absolute;
        top: 0;
        bottom: 0;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        -webkit-transition: .5s ease;
        transition: .5s ease;
        text-indent: 0;
        font-size: 20px;
        -webkit-transition: 0s;
        transition: 0s; }
      header .wrapper nav .navbar .list {
        width: auto;
        padding: 10px 5px;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        top: 15%;
        background-color: #dfdfdf;
        z-index: 10; }
        header .wrapper nav .navbar .list li a {
          padding: 10px 8px;
          border-radius: 4px;
          color: #000;
          font-weight: 600;
          font-size: 12px; }
        header .wrapper nav .navbar .list li a:hover {
          background: #fff; }
      header .wrapper nav .navbar > li:hover .list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
    header .wrapper nav .search {
      margin-left: auto;
      display: inline;
      font-size: 0; }
      header .wrapper nav .search::after {
        content: '\f002';
        color: #000;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        -webkit-transition: .5s ease;
        transition: .5s ease;
        text-indent: 0;
        font-size: 19px; }
      header .wrapper nav .search:hover::after {
        color: #ba5c80; }

.none {
  display: none; }

.banner li {
  position: relative; }

.banner .wrapper {
  width: 40%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 20; }
  .banner .wrapper h2 {
    margin-top: 15px;
    font-weight: 400;
    font-family: "Damion", sans-serif;
    font-size: 53px;
    letter-spacing: .5px; }
  .banner .wrapper p {
    width: 90%;
    margin-top: 35px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px; }
  .banner .wrapper a {
    padding: 11px 28px;
    margin-top: 40px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-weight: 800;
    font-size: 11px;
    -webkit-transition: .5s ease;
    transition: .5s ease; }
    .banner .wrapper a:hover {
      background: #e6e6e6; }

.banner .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0; }
  .banner .slick-dots button {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 2px;
    border: none;
    border-radius: 50%;
    background: #000;
    font-size: 0;
    opacity: .3;
    -webkit-transition: .5s ease;
    transition: .5s ease; }
    .banner .slick-dots button:hover {
      opacity: 1; }
  .banner .slick-dots li.slick-active button {
    opacity: 1; }
/*# sourceMappingURL=style.css.map */