@import url("https://fonts.googleapis.com/css2?family=Damion&family=Open+Sans:wght@400;600;700&display=swap");
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*for all*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

/* Common styling */
.grey {
  color: #666; }

.cap {
  text-transform: capitalize; }

.up {
  text-transform: uppercase; }

.center {
  text-align: center; }

.bold {
  font-weight: bold; }

.transition {
  -webkit-transition: 1s all ease;
  transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 94%;
  margin: 0 auto; }

/* toggleUp styling starts here */
.toggleUp {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-indent: -9999px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  z-index: 20;
  -webkit-display: "none";
  -moz-display: "none";
  -ms-display: "none";
  -o-display: "none";
  display: "none";
  -moz-justify-content: "flex-end";
  -ms-justify-content: "flex-end";
  -o-justify-content: "flex-end";
  -webkit-box-pack: "flex-end";
      -ms-flex-pack: "flex-end";
          justify-content: "flex-end";
  -webkit-transition: ".5s ease";
  transition: ".5s ease"; }
  .toggleUp::after {
    content: '\f102';
    padding: 10px 12px;
    border-radius: 3px;
    background: #000;
    color: #fff;
    font-size: 14px;
    opacity: .4;
    text-indent: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    text-indent: 0;
    -webkit-transition: ".5s ease";
    transition: ".5s ease"; }
  .toggleUp:hover, .toggleUp:hover::after {
    border-radius: 3px;
    opacity: .8; }

.flex {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

header .wrapper {
  width: 88%;
  padding: 16px 0;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 995px) {
    header .wrapper {
      width: 95%;
      padding: 10px 0; }
      header .wrapper .layer {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        z-index: 10;
        opacity: .8;
        -webkit-display: none;
        -moz-display: none;
        -ms-display: none;
        -o-display: none;
        display: none; } }
  header .wrapper .layer {
    text-indent: -9999px; }
  header .wrapper .menu,
  header .wrapper .close {
    display: none; }
    @media screen and (max-width: 995px) {
      header .wrapper .menu,
      header .wrapper .close {
        display: initial; } }
  header .wrapper .menu {
    font-size: 0;
    cursor: pointer; }
    @media screen and (max-width: 995px) {
      header .wrapper .menu::after {
        content: '\f0c9';
        color: #000;
        font-size: 20px;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        text-indent: 0; } }
    @media screen and (max-width: 550px) {
      header .wrapper .menu::after {
        font-size: 15px; } }
  @media screen and (max-width: 995px) {
    header .wrapper .close {
      padding: 6px 14px;
      border-radius: 4px;
      position: fixed;
      top: 10px;
      right: 10px;
      background: #ececec;
      font-weight: 600;
      cursor: pointer; } }
  header .wrapper h1 {
    width: 20%; }
  header .wrapper img {
    width: 105%; }
    @media screen and (max-width: 995px) {
      header .wrapper img {
        width: 50%; } }
  header .wrapper nav {
    width: 80%;
    z-index: 20;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 995px) {
      header .wrapper nav {
        width: 50%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        z-index: 20;
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: -webkit-box;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-transition: 1s ease;
        transition: 1s ease;
        -webkit-transform: translateX(200%);
        transform: translateX(200%); } }
  @media screen and (max-width: 995px) and (max-width: 995px) {
    header .wrapper nav.showNav {
      -webkit-transform: translateX(0);
              transform: translateX(0); } }
    @media screen and (max-width: 550px) {
      header .wrapper nav {
        width: 70%; } }
    @media screen and (max-width: 320px) {
      header .wrapper nav {
        width: 100%; } }
    header .wrapper nav .navbar {
      width: 90%;
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      -o-display: flex;
      display: -webkit-box;
      display: flex;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media screen and (max-width: 995px) {
        header .wrapper nav .navbar {
          padding: 0;
          margin: 0 auto;
          position: relative;
          top: 20%;
          left: 20%;
          -webkit-display: flex;
          -moz-display: flex;
          -ms-display: flex;
          -o-display: flex;
          display: -webkit-box;
          display: flex;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          -o-flex-direction: column;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column;
          -moz-align-items: flex-start;
          -ms-align-items: flex-start;
          -o-align-items: flex-start;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -moz-justify-content: center;
          -ms-justify-content: center;
          -o-justify-content: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
      header .wrapper nav .navbar > li:nth-child(1),
      header .wrapper nav .navbar > li:nth-child(2) {
        margin-right: 15%; }
        @media screen and (max-width: 995px) {
          header .wrapper nav .navbar > li:nth-child(1),
          header .wrapper nav .navbar > li:nth-child(2) {
            margin-right: 0; } }
      header .wrapper nav .navbar > li:nth-child(3) {
        margin-right: 9%; }
        @media screen and (max-width: 995px) {
          header .wrapper nav .navbar > li:nth-child(3) {
            margin-right: 0; } }
      @media screen and (max-width: 995px) {
        header .wrapper nav .navbar > li {
          padding: 0 0;
          margin-right: 0;
          text-align: left; } }
      header .wrapper nav .navbar > li > a {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 10px 0;
        position: relative;
        color: #000;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: .8px;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease; }
        header .wrapper nav .navbar > li > a:hover {
          color: #ba5c80; }
        @media screen and (max-width: 995px) {
          header .wrapper nav .navbar > li > a {
            font-size: 12px; } }
        @media screen and (max-width: 767px) {
          header .wrapper nav .navbar > li > a:hover {
            color: #000; } }
      header .wrapper nav .navbar > li:nth-child(1) > a::after,
      header .wrapper nav .navbar > li:nth-child(2) > a::after {
        content: '\f078';
        padding: 10px 0 10px 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        font-size: 20px;
        -webkit-transition: 0s;
        transition: 0s;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        text-indent: 0; }
        @media screen and (max-width: 995px) {
          header .wrapper nav .navbar > li:nth-child(1) > a::after,
          header .wrapper nav .navbar > li:nth-child(2) > a::after {
            padding: 12px 0 0 10px;
            font-size: 12px; } }
      header .wrapper nav .navbar .list {
        width: auto;
        padding: 10px 5px;
        display: none;
        position: absolute;
        top: 90px;
        background-color: #ececec;
        z-index: 10;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media screen and (max-width: 995px) {
          header .wrapper nav .navbar .list {
            position: static;
            top: 80px; } }
        header .wrapper nav .navbar .list li a {
          padding: 10px 8px;
          border-radius: 4px;
          color: #000;
          font-weight: 600;
          font-size: 12px; }
          @media screen and (max-width: 995px) {
            header .wrapper nav .navbar .list li a {
              padding: 5px 8px;
              font-size: 12px; } }
        header .wrapper nav .navbar .list li a:hover {
          background: #fff; }
        @media screen and (max-width: 767px) {
          header .wrapper nav .navbar .list li a:hover {
            background: #ececec; } }
      header .wrapper nav .navbar .flex {
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: -webkit-box;
        display: flex; }
      header .wrapper nav .navbar > li:hover .list {
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: -webkit-box;
        display: flex; }
    header .wrapper nav .search {
      margin-left: auto;
      display: inline;
      font-size: 0; }
      @media screen and (max-width: 995px) {
        header .wrapper nav .search {
          margin: 20px auto 0 0;
          position: relative;
          top: 20%;
          left: 25%; } }
      header .wrapper nav .search::after {
        content: '\f002';
        color: #000;
        font-size: 19px;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        text-indent: 0; }
        @media screen and (max-width: 767px) {
          header .wrapper nav .search::after {
            font-size: 14px; } }
      header .wrapper nav .search:hover::after {
        color: #ba5c80; }
      @media screen and (max-width: 767px) {
        header .wrapper nav .search:hover::after {
          color: #000; } }

.none {
  display: none; }

/* banner styling starts here */
.banner li {
  position: relative; }

.banner .wrapper {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 550px) {
    .banner .wrapper {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  @media screen and (max-width: 1286px) {
    .banner .wrapper {
      width: 50%; } }
  @media screen and (max-width: 995px) {
    .banner .wrapper {
      width: 70%; } }
  @media screen and (max-width: 767px) {
    .banner .wrapper {
      width: 80%; } }
  @media screen and (max-width: 550px) {
    .banner .wrapper {
      width: 100%; } }
  .banner .wrapper h2 {
    margin-top: 15px;
    font-weight: 400;
    font-family: "Damion", sans-serif;
    font-size: 53px;
    letter-spacing: .5px; }
    @media screen and (max-width: 995px) {
      .banner .wrapper h2 {
        font-size: 40px; } }
    @media screen and (max-width: 767px) {
      .banner .wrapper h2 {
        margin-top: 5px;
        font-size: 28px; } }
    @media screen and (max-width: 550px) {
      .banner .wrapper h2 {
        margin-top: 15px;
        font-size: 20px; } }
  .banner .wrapper p {
    width: 90%;
    margin-top: 35px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px; }
    @media screen and (max-width: 995px) {
      .banner .wrapper p {
        margin-top: 20px; } }
    @media screen and (max-width: 995px) {
      .banner .wrapper p {
        margin-top: 10px; } }
    @media screen and (max-width: 550px) {
      .banner .wrapper p {
        margin-top: 5px;
        font-size: 10px;
        line-height: 13px; } }
  .banner .wrapper a {
    padding: 11px 28px;
    margin-top: 40px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-weight: 800;
    font-size: 11px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
    @media screen and (max-width: 995px) {
      .banner .wrapper a {
        margin-top: 20px;
        padding: 8px 15px; } }
    @media screen and (max-width: 550px) {
      .banner .wrapper a {
        padding: 5px 12px;
        margin-top: 5px;
        font-size: 8px; } }
    .banner .wrapper a:hover {
      background: #e6e6e6; }

.banner .slick-dots {
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 995px) {
    .banner .slick-dots {
      bottom: 10px; } }
  @media screen and (max-width: 550px) {
    .banner .slick-dots {
      bottom: 4px; } }
  .banner .slick-dots button {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 2px;
    border: none;
    border-radius: 50%;
    background: #000;
    font-size: 0;
    opacity: .3;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
    .banner .slick-dots button:hover {
      opacity: 1; }
    @media screen and (max-width: 550px) {
      .banner .slick-dots button {
        width: 6px;
        height: 6px; } }
    @media screen and (max-width: 767px) {
      .banner .slick-dots button:hover {
        opacity: .3; } }
  .banner .slick-dots li.slick-active button {
    opacity: 1; }

/* banner styling ends here */
/* accessories styling starts here */
.accessories .wrapper {
  margin: 40px auto; }
  .accessories .wrapper ul {
    width: 100%;
    gap: 20px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .accessories .wrapper ul {
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .accessories .wrapper ul li {
      width: 49%;
      border: 1px solid #ececec;
      text-align: center; }
      @media screen and (max-width: 1286px) {
        .accessories .wrapper ul li {
          width: 48%; } }
      @media screen and (max-width: 767px) {
        .accessories .wrapper ul li {
          width: 80%; } }
      .accessories .wrapper ul li > a {
        display: block; }
      .accessories .wrapper ul li figure {
        width: 100%;
        position: relative; }
        .accessories .wrapper ul li figure::before {
          content: '\f35a';
          background: #69686880;
          color: #fff;
          font-size: 40px;
          z-index: 10;
          opacity: 0;
          -webkit-display: flex;
          -moz-display: flex;
          -ms-display: flex;
          -o-display: flex;
          display: -webkit-box;
          display: flex;
          -moz-align-items: center;
          -ms-align-items: center;
          -o-align-items: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          -o-justify-content: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          text-indent: 0; }
      .accessories .wrapper ul li:hover figure::before {
        opacity: 1;
        -webkit-transition: opacity 0.7s ease;
        transition: opacity 0.7s ease; }
      .accessories .wrapper ul li img {
        width: 100%; }
      .accessories .wrapper ul li a > figcaption {
        padding: 24px 0;
        color: #000;
        font-weight: 600;
        font-size: 22px;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease; }
        @media screen and (max-width: 767px) {
          .accessories .wrapper ul li a > figcaption {
            margin: 10px auto;
            font-size: 16px; } }

/* accessories styling ends here */
/* reviews styling starts here */
.review {
  position: relative; }
  .review > ul {
    width: 61%;
    position: absolute;
    top: 25%;
    right: 4%;
    bottom: 25%;
    background-color: #f5f5f580;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 995px) {
      .review > ul {
        width: 70%;
        top: 20%;
        bottom: 20%; } }
    @media screen and (max-width: 767px) {
      .review > ul {
        width: 90%; } }
    @media screen and (max-width: 550px) {
      .review > ul {
        width: 95%;
        margin: 0 auto;
        top: 15%;
        right: 0;
        bottom: 15%;
        left: 0; } }
    .review > ul::before {
      content: '\f10d';
      position: absolute;
      top: -60px;
      left: 5%;
      color: #ba5c80;
      font-size: 74px;
      z-index: 10;
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      text-indent: 0; }
      @media screen and (max-width: 1024px) {
        .review > ul::before {
          top: -40px;
          font-size: 50px; } }
      @media screen and (max-width: 550px) {
        .review > ul::before {
          top: -20px;
          font-size: 30px; } }
    .review > ul li {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 60px 2.8% 60px 2.8%;
      position: relative;
      font-weight: 600;
      text-align: center; }
      @media screen and (max-width: 995px) {
        .review > ul li {
          padding: 60px 2% 60px 2%; } }
      @media screen and (max-width: 767px) {
        .review > ul li {
          padding: 30px 1% 30px 1%; } }
      @media screen and (max-width: 320px) {
        .review > ul li {
          padding: 20px; } }
      .review > ul li p {
        margin-bottom: 50px;
        font-size: 21px;
        line-height: 30px; }
        @media screen and (max-width: 1024px) {
          .review > ul li p {
            font-size: 18px; } }
        @media screen and (max-width: 767px) {
          .review > ul li p {
            font-size: 16px; } }
        @media screen and (max-width: 995px) {
          .review > ul li p {
            margin-bottom: 30px; } }
        @media screen and (max-width: 550px) {
          .review > ul li p {
            padding: 10px;
            margin-bottom: 10px;
            font-size: 12px;
            line-height: 16px; } }
        @media screen and (max-width: 320px) {
          .review > ul li p {
            margin-bottom: 5px; } }
      .review > ul li h2 {
        font-size: 15px; }
        @media screen and (max-width: 1024px) {
          .review > ul li h2 {
            font-size: 13px; } }
        @media screen and (max-width: 550px) {
          .review > ul li h2 {
            font-size: 9px; } }
        @media screen and (max-width: 320px) {
          .review > ul li h2 {
            font-size: 8px; } }
        .review > ul li h2::before {
          content: '';
          padding: 0 12px;
          bottom: 10px;
          border-bottom: 2px solid #000;
          position: relative;
          right: 15px; }
          @media screen and (max-width: 550px) {
            .review > ul li h2::before {
              padding: 0 7px;
              right: 10px;
              bottom: 7px; } }
  .review .slick-dots {
    position: absolute;
    top: 104%;
    right: 0;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 767px) {
      .review .slick-dots {
        top: 105%;
        right: 0;
        left: 0;
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: -webkit-box;
        display: flex;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media screen and (max-width: 320px) {
      .review .slick-dots {
        top: 103%; } }
    .review .slick-dots li {
      padding: 0;
      background: none; }
    .review .slick-dots button {
      width: 10px;
      height: 10px;
      padding: 0;
      margin: 0 5px;
      border-radius: 50%;
      border: none;
      background: #000;
      text-indent: -9999px;
      opacity: .2;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease; }
      .review .slick-dots button:hover {
        opacity: .6; }
      @media screen and (max-width: 767px) {
        .review .slick-dots button:hover {
          opacity: .2; } }
      @media screen and (max-width: 550px) {
        .review .slick-dots button {
          width: 8px;
          height: 8px;
          margin: 0 3px; } }
    .review .slick-dots li.slick-active button {
      opacity: .6; }

/* reviews styling ends here */
/* recipes styling starts here */
.recipes .wrapper {
  margin: 40px auto;
  text-align: center; }
  .recipes .wrapper h2,
  .recipes .wrapper a {
    color: #ba5c80;
    font-size: 34px; }
    @media screen and (max-width: 550px) {
      .recipes .wrapper h2,
      .recipes .wrapper a {
        font-size: 24px; } }
  .recipes .wrapper > p {
    width: 83%;
    margin: 25px auto 50px auto;
    color: #666;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px; }
    @media screen and (max-width: 995px) {
      .recipes .wrapper > p {
        width: 90%;
        margin: 10px auto;
        font-size: 13px;
        line-height: 18px; } }
  @media screen and (max-width: 995px) and (max-width: 550px) {
    .recipes .wrapper > p {
      width: 100%;
      font-size: 12px; } }
  .recipes .wrapper ul {
    gap: 6%;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 995px) {
      .recipes .wrapper ul {
        gap: 1%; } }
    @media screen and (max-width: 767px) {
      .recipes .wrapper ul {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 0; } }
  .recipes .wrapper li {
    width: 47%;
    margin-top: 30px; }
    @media screen and (max-width: 995px) {
      .recipes .wrapper li {
        width: 48%; } }
    @media screen and (max-width: 767px) {
      .recipes .wrapper li {
        width: 60%; } }
    @media screen and (max-width: 550px) {
      .recipes .wrapper li {
        width: 85%; } }
    .recipes .wrapper li .recipe-content {
      padding: 46px 15% 54px 15%;
      border: 2px solid #ececec;
      border-top: none;
      position: relative; }
      @media screen and (max-width: 995px) {
        .recipes .wrapper li .recipe-content {
          padding: 30px 8%; } }
      @media screen and (max-width: 550px) {
        .recipes .wrapper li .recipe-content {
          padding: 15px 8%; } }
      .recipes .wrapper li .recipe-content .right {
        position: absolute;
        top: -15px;
        right: 25px;
        font-size: 0; }
        @media screen and (max-width: 550px) {
          .recipes .wrapper li .recipe-content .right {
            top: -8px;
            right: 10px; } }
        .recipes .wrapper li .recipe-content .right::after {
          content: '\f054';
          padding: 16px 20px;
          border-radius: 50%;
          background: #ba5c80;
          color: #fff;
          font-size: 24px;
          -webkit-transition: .5s ease;
          transition: .5s ease;
          cursor: pointer;
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          text-indent: 0; }
          @media screen and (max-width: 550px) {
            .recipes .wrapper li .recipe-content .right::after {
              padding: 10px 14px;
              font-size: 16px; } }
        .recipes .wrapper li .recipe-content .right:hover::after {
          background: #c9809c; }
        @media screen and (max-width: 767px) {
          .recipes .wrapper li .recipe-content .right:hover::after {
            background: #ba5c80; } }
      .recipes .wrapper li .recipe-content a {
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 33px;
        -webkit-transition: .5s ease;
        transition: .5s ease; }
        .recipes .wrapper li .recipe-content a:hover {
          color: #c9809c; }
        @media screen and (max-width: 995px) {
          .recipes .wrapper li .recipe-content a {
            margin-bottom: 15px;
            font-size: 24px; } }
        @media screen and (max-width: 767px) {
          .recipes .wrapper li .recipe-content a {
            font-size: 18px; }
            .recipes .wrapper li .recipe-content a:hover {
              color: #ba5c80; } }
      .recipes .wrapper li .recipe-content p {
        position: relative;
        color: #333;
        font-weight: 600;
        font-size: 15px;
        text-align: left;
        line-height: 25px;
        letter-spacing: .5px; }
        @media screen and (max-width: 550px) {
          .recipes .wrapper li .recipe-content p {
            font-size: 13px;
            line-height: 18px; } }
        @media screen and (max-width: 320px) {
          .recipes .wrapper li .recipe-content p {
            text-align: center; } }
        .recipes .wrapper li .recipe-content p::before {
          content: '\f111';
          position: absolute;
          top: 1px;
          left: -25px;
          font-size: 6px;
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          text-indent: 0; }
          @media screen and (max-width: 995px) {
            .recipes .wrapper li .recipe-content p::before {
              left: -15px; } }
          @media screen and (max-width: 550px) {
            .recipes .wrapper li .recipe-content p::before {
              left: -20px; } }
          @media screen and (max-width: 320px) {
            .recipes .wrapper li .recipe-content p::before {
              left: -15px; } }

/* recipes styling ends here */
/* gallery styling starts here */
.gallery {
  margin: 50px auto 20px auto;
  border-bottom: 2px solid #ececec;
  text-align: center; }
  .gallery ul {
    width: 100%;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 767px) {
      .gallery ul {
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap; } }
    @media screen and (max-width: 550px) {
      .gallery ul {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -ms-flex-wrap: nowrap;
        -o-flex-wrap: nowrap;
        flex-wrap: nowrap; } }
  .gallery li {
    width: 100% / 4; }
    @media screen and (max-width: 767px) {
      .gallery li {
        width: 50%; } }
    @media screen and (max-width: 550px) {
      .gallery li {
        width: 90%; } }
  .gallery img {
    width: 100%; }
  .gallery a {
    padding: 12px 35px;
    margin: 50px auto;
    border-radius: 5px;
    background-color: #ba5c80;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
    .gallery a:hover {
      background: #c9809c; }
    @media screen and (max-width: 550px) {
      .gallery a {
        padding: 10px 25px;
        margin: 20px auto; } }
    @media screen and (max-width: 767px) {
      .gallery a:hover {
        background: #ba5c80; } }

/* gallery styling ends here */
footer {
  padding: 5px 0 35px 0;
  background-color: #ececec;
  font-size: 15px;
  text-align: center; }
  @media screen and (max-width: 550px) {
    footer {
      padding: 5px 0 20px 0;
      font-size: 12px; } }
/*# sourceMappingURL=style.css.map */