.accessories .wrapper {
    margin: 40px auto;

    ul {
        width: 100%;
        @include flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;

        @include responsive($phone) { justify-content: center; }

        li {
            width: 49%;
            border: 1px solid $secondary;
            text-align: center;

            @include responsive($small-pc) { width: 48%; }
            @include responsive($phone) { width: 80%; }

            img { width: 100%; }
        }
    }

    a {
        margin: 24px auto;
        color: $black;
        font-weight: 600;
        font-size: 22px;
        transition: .5s ease;

        @include responsive($phone) {
            margin: 10px auto;
            font-size: 16px;
        }

        &:hover { color: #666; }
    }
}