.gallery {
    margin: 50px auto 20px auto;
    border-bottom: 2px solid $secondary;
    text-align: center;

    ul {
        width: 100%;
        @include flex;
        justify-content: center;
        
        @include responsive($phone) { flex-wrap: wrap; }

        @include responsive($iphone) {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }

    li {
        width: 100% / 4;
        @include responsive($phone) { width: 50%; }
        @include responsive($iphone) { width: 90%; }
    }

    img { width: 100%; }

    a {
        padding: 12px 35px;
        margin: 50px auto;
        border-radius: 5px;
        color: $white;
        background-color: $primary;
        font-weight: 600;
        font-size: 11px;
        transition: .5s ease;

        @include responsive($iphone) {
            padding: 10px 25px;
            margin: 20px auto;
        }

        &:hover { background: lighten($primary, 10%); }
    }
}