header .wrapper {
  width: 88%;
  padding: 16px 0;
  @include flex;
  justify-content: space-between;

  h1 { width: 20%; }
  img { width: 105%; }

  nav {
    width: 80%;
    @include flex;

    .navbar {
      width: 90%;
      @include flex;

      & > li:nth-child(1) { margin-right: 15%; }
      & > li:nth-child(2) { margin-right: 15%; }
      & > li:nth-child(3) { margin-right: 9%; }

      & > li > a {
        box-sizing: border-box;
        padding: 10px 0;
        position: relative;
        color: $black;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: .8px;
        transition: .5s ease;

        &:hover { color: $primary; }
      }

      & > li:nth-child(1) > a::after,
      & > li:nth-child(2) > a::after {
        content: '\f078';
        margin-left: 15px;
        padding: 10px 0;
        position: absolute;
        top: 0;
        bottom: 0;
        @include icon;
        font-size: 20px;
        transition: 0s;
      }

      .list {
        width: auto;
        padding: 10px 5px;
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 15%;
        background-color: #dfdfdf;
        z-index: 10;

        li a {
          padding: 10px 8px;
          border-radius: 4px;
          color: $black;
          font-weight: 600;
          font-size: 12px;
        }

        li a:hover { background: $white; }
      }

      & > li:hover .list { display: flex; }
    }

    .search {
      margin-left: auto;
      display: inline;
      font-size: 0;

      &::after {
        content: '\f002';
        color: $black;
        @include icon;
        font-size: 19px;
      }

      &:hover::after { color: $primary; }
    }
  }
}

.none { display: none; }